.team {
    min-height: 100vh;
    width: 100%;
    background-color: var(--white-background);

    h2 {
        color: slateblue;
        font-size: 1.875rem;
    }

    .box {
        border-radius: 0.75rem;

        h4 {
            background-color: var(--purple-background);
        }
        blockquote {
            font-family: 'Raleway', sans-serif;
        }
    }
}