.team {
    min-height: 100vh;
    width: 100%;

    h2 {
        color: slateblue;
        text-transform: uppercase;
        font-size: 1.875rem;

        @media only screen and (min-width: 420px) {
            font-size: 2.375rem;
        }
    }

    .box {
        border-radius: 0.75rem;

        h4 {
            background-color: var(--purple-background);
        }
        blockquote {
            font-family: 'Raleway', sans-serif;
        }
    }
}