// .infoModule__container {
//     height: calc(100vh - 5.75rem);
//     background-color: var(--purple-background);
// }

// .text-label,
// .text-hero-bold,
// .text-hero-regular {
//     margin: 1.5rem 0;
// }

// .text-label {
//     font-size: 1rem;
//     line-height: 1.938rem;
// }

// .text-hero-bold {
//     font-size: 4rem;
//     font-weight: 500;
// }

// .text-hero-regular {
//     //
// }


// .side-img {
//     // padding: 0;

//     img {
//         width: 22.5rem;
//     }
// }

.cl {
    height: calc(100vh - 5.75rem);
    background-color: var(--purple-background);

    .container {
        height: 100%;

        .col-lg-5 {
            margin: auto;
        }
    }

    .intro-excerpt {
        max-width: 28.125rem;
        position: relative;
        z-index: 4;
    }
    h2 {
        font-weight: 700;
        margin-bottom: 1.875rem;
        font-size: 1.875rem;

        @media only screen and (min-width: 420px) {
            font-size: 3.375rem;
        }
    }
    p {
        margin-bottom: 1.875rem;
    }

    .cl-img-wrap {
        img {
            border-radius: 0.75rem;
        }
    }
}