.hero__container {
    height: 100vh;
    max-height: 100%;
}

.carousel {
    height: 80%;
    margin: auto;
    // margin: auto;
}

.carousel-control-prev,
.carousel-control-next {
    height: 160px;
    display: none;
}

.carousel-caption {
    // position: relative;
    left: 0;
    right: 0;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    margin: auto;
    text-align: center;
    width: 50%;
}

.carousel-item {
    height: 80vh;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        // vertical-align: center;
    }
    h3 {
        animation: animate 1s linear;
        text-transform: uppercase;
        font-weight: 500;
    }
    p {
        font-weight: 400;
    }
    @keyframes animate {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    p {
        animation: animatep 1s linear;
    }
    @keyframes animatep {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}

