.hero {
    // min-height: 100vh;
    height: calc(100vh - 5.75rem);
    margin: auto;
}

.carousel {
    height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    height: 10rem;
    display: none;
}

.carousel-caption {
    left: 0;
    right: 0;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    margin: auto;
    text-align: center;
    width: 40%;
    /* glassmorphism */
    background: rgba(40, 39, 39, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.carousel-item {
    // height: 80vh;
    img {
        height: 37.5rem;
        object-fit: cover;
    }
    h3 {
        animation: animate 1s linear;
        text-transform: uppercase;
        font-weight: 500;
    }
    p {
        font-weight: 400;
    }
    @keyframes animate {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    p {
        animation: animatep 1s linear;
    }
    @keyframes animatep {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}

@media only screen and (min-width: 420px) {
    //
}

