@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

:root {
  --overlay: rgb(0, 0, 0, 0.826);
  --purple-background: rgb(210, 201, 255);
  --white-background: rgb(255, 255, 255);
}


.App {
  text-align: center;
  // min-height: 100vh;
  min-height: 100vh;
  background-color: var(--overlay);
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;

h2 {
  font-size: 1.875rem;
}

  p {
    font-family: 'Raleway', sans-serif;
  }
}