@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --overlay: rgb(0, 0, 0, 0.826);
  --second_background: rgb(210, 201, 255);
}


.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background-color: var(--overlay);
  // height: calc(100vh - 76px);
}
body {
  height: 100%;
}