@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap');

:root {
  --overlay: rgb(0, 0, 0, 0.826);
  --pastel-background: #70A9A1;
  --green-color: #3c6e71;
  --dark-gray: #d9d9d9;
  --white-background: rgb(255, 255, 255);
}


.App {
  text-align: center;
  // min-height: 100vh;
  min-height: 100vh;
  background-color: var(--dark-gray);
  font-family: 'Playfair Display', serif;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;

  h2 {
    font-weight: 700;
    font-size: 1.875rem;

    @media only screen and (min-width: 420px) {
        font-size: 3.375rem;
    }
}

  button,  p {
      font-family: 'Roboto', sans-serif;
  }
}